.nav_header{
  align-items: center;
  border-bottom: 1px solid #F5F5F5;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.nav_header_left{
  align-items: center;
  column-gap: 32px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav_header_search{
  display: none;
  max-width: 500px;
  position: relative;
  width: 100%;
}

.nav_header_search input{
  background: #F5F5F5;
  border: 0;
  border-radius: 20px;
  height: 40px;
  padding: 8px 16px;
  width: 100%;
}
.nav_header input:focus{
  outline: none;
}

.nav_header_search_img{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0,-50%);
  width: 20px;
}

.nav_header_login{
  align-items: center;
  display: flex;
  gap: 15px;
}
.nav_header_login img{
  cursor: pointer;
  height: 20px;
}

.lupa_hidden_input{
  border: 1px solid #003479;
  border-radius: 999px;
  display: none;
  height: 40px;
  outline: none;
  padding-left: 10px;
  position: fixed;
  right: 50%;
  top: 70px;
  transform: translate(50%,0);
  width: 250px;
}

.show{
  display: block;
}

@media screen and (min-width: 380px){
  .nav_header{
    flex-direction: row;
    gap: 0;
  }  
  .nav_header_left{
    justify-content:flex-start;
    width: 90%;
  }
  .lupa_hidden_input{    
    right: 15px;
    top: 25px;
    transform: translate(0,0);
  }
}

@media screen and (min-width: 630px){
  .nav_header_search{
    display:block;
  } 
}

@media screen and (min-width: 768px){
  .nav_header{
    padding: 20px 60px;
  }
}