
main {
  background-color: #F5F5F5;
  padding-top: 30px;
}

.add_product{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  width: 100%;
}
.add_product h2{
  font-size: 20px;
}

.add_product_upload{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-around;
  width: 100%;
}

.upload-file{
  align-items:center;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  height: 200px;
  padding: 25px;
  position: relative;
  width: 100%;
}
.upload-file p{
  text-align: center;
}

.add_product_upload img{
  width: 50px;
}

.add_product_upload .label{
  cursor: pointer;
  position: relative;
  text-align: center;
  width: 100%;
}

#select{
  cursor: pointer;
  height: 100%;
  opacity: 0%;
  left: 0;  
  position: absolute;
  top: 0;
  width: 100%;
}


.img_select{
  background-color: #535353;
  color: #fff;
  display: none;
  font-size: 20px;
  height: 40px;
  line-height:40px;
  text-align: center;
  width: 100%;
}

.show{
  display: block;
}
.add_product_input{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

.add_product_input input{
  padding-left: 5px;
  width: 100%;
}
.add_product_input input[type=text],
.add_product_input input[type=number]{
  height: 40px;
}

.add_product_input input:focus{
  outline: none;
}

.add_product_input textarea{
  height: 60px;
  padding-left: 5px;
  padding-top: 5px;
  resize: none;
  width: 100%;
}

.msg{
  color: #fff;
  display: none;
  font-size: 20px;
  line-height: 40px;
  padding: 10px;
  position: fixed;
  text-align: center;
  top: 20px;
  width: 90%;
}
.msg--erro{
  background-color: rgb(207, 10, 10);
  display: block;
}
.msg_enviar{
  background-color: rgb(0, 126, 0);
  display: block;
}

@media screen and (min-width: 550px) {
  .add_product_upload{
    flex-direction: row;
    width: 80%;
  }
  .add_product h2{
    font-size: 32px;
  }
  .add_product_input{
    align-items: center;
  }
  .add_product_input input,
  .add_product_input textarea,
  .img_select{
    width: 80%;
  }
  
}

@media screen and (min-width: 768px) {
  .add_product_upload{
    width: 60%;
  }
  .add_product_input input,
  .add_product_input textarea,
  .img_select{
    width: 60%;
  }
}